.form-inner{
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #ABABAB;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 40px 55px;
    margin-top: 120px;
}
.form-inner h4{
    margin-bottom: 30px;
}
.form-inner .form-control{
    margin-bottom: 20px;
    padding: 30px 20px;
}
.pointer{
    cursor: pointer;
}
.pointer:hover{
    text-decoration: underline;
}
.error-msg{
    color: red;
    font-size: 13px;
    margin-bottom: 15px;
}
/* .form-control{
    padding: 30px 20px;
} */
.other-login .login-opt{
    padding: 10px 30px;
    border: 1px solid #ccc;
    border-radius: 30px;
    cursor: pointer;
}
.login-opt img{
    margin-left: -100px;
    margin-right: 100px;
}